<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../style/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contents">
        <div class="logo">
            <a href="index.html"><img class="gambar" src="../assets/logo.png" alt="logo"></a>
        </div>
        <div class="luarbg">
            <form action="" class="inside">
                <div class="wc-text">
                    Welcome Back!
                </div>

                <div class="center-box">
                    <div class="formnya">
                        <div class="input-data">
                            <input type="text" required>
                            <div class="underline"></div>
                            <label class="what-is">Group Name</label>
                        </div>
                        <div class="input-data">
                            <input type="password" required>
                            <div class="underline"></div>
                            <label class="what-is">Password</label>
                        </div>
                    </div>
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                        <span class="what-is textnya">Remember Me</span>
                    </div>
                </div>

                <div class="na-text">
                    <div class="what-is">
                        <span class="normal-txt">Don't have an account?</span>
                        <a href="register.html"><span class="click-here">Click Here</span></a>
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="btn">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>