<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<!-- link css -->
<link rel="stylesheet" href="../style/test.css">
<body>
    
<!-- link font google  -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">


    <div class="wrapper">
        <section class="sidebar">
         
            <img src="../assets/logo.png" alt="">
            <h4>ADMIN</h4>
           
            <ul>
               <li><a href="admin.html"><i class="fas fa-chart-line"></i>DASHBOARD</a></li>
               <li><a href="admin.participants.html"><i class="fas fa-users"></i>PARTICIPANTS</a></li>
               <li><a href="admin.logout.html"><i class="fas fa-sign-out-alt"></i>LOG OUT</a></li>
            </ul>
        </section>



                <section class="main-content">
                    <div class="header"><h3>TEST</h3></div>
   
                    <div class="pop-up-box">
                        <div class="title-box title-box2">
                        <p>Leader Information</p>
                        </div>
                                <div class="user-data">
                                    <label for=""> Leader Name</label>
                                    <input type="text">
                                </div>
                
                                <div class="user-data">
                                    <label for="">Email</label>
                                    <input type="text">
                                </div>
                
                                <div class="user-data">
                                    <label for="">LINE ID</label>
                                    <input type="text">
                
                                </div>
                
                                <div class="user-data">
                                    <label for="">Github ID</label>
                                    <input type="text">
                
                                </div>

                                <div class="birth">
                                    <div class="user-data-birth">
                                        <label for="">Birthplace</label>
                                        <input  type="text">
                                    </div>
                                    <span class="space"></span>
                                    <div class="user-data-birth">
                                        <label for="">Birthdate</label>
                                        <input  type="date">
                                    </div>
                                </div>
                
                                <div class="user-data">
                                    <label for="">Uploaded CV</label>
                                    <input  type="text">
                                </div>
                
                                <div class="user-data">
                                    <label for="">flazcard</label>
                                    <input type="text">
                
                                </div>
                             <div class="title-box title-box2">
                                 <p>Group Information</p>
                            </div>
                                <div class="user-data">
                                    <label for="">Group Name</label>
                                    <input type="text">
                            
                                 </div>
                
                                <div class="user-data">
                                    <label for="">Password</label>
                                    <input type="text">
                            
                                </div>
                
                                 <div class="user-data">
                                     <label for="">Confirm Password</label>
                                    <input type="text">
                                </div>

                                <div class="slide-btn">
                                    <label class="switch">
                                        <input type="checkbox" checked>
                                        <span class="slider"></span>
                                    </label>
                                    <span class="binusian">BINUSIAN</span>
                                </div>

                                <div class="btn">
                                <button class="submit" id="button">Submit</button>
                                 </div>







                                 <div class="bg-modal">
                                    <div class="modal-content">
                                        <div class="pop-up-box">
                                            <div class="close-btn"  >&times;</div>
                                            <div class="title-box title-box2">
                                            <p>Leader Information</p>
                                            </div>
                                                    <div class="user-data">
                                                        <label for=""> Leader Name</label>
                                                        <input type="text">
                                                    </div>
                                    
                                                    <div class="user-data">
                                                        <label for="">Email</label>
                                                        <input type="text">
                                                    </div>
                                    
                                                    <div class="user-data">
                                                        <label for="">LINE ID</label>
                                                        <input type="text">
                                    
                                                    </div>
                                    
                                                    <div class="user-data">
                                                        <label for="">Github ID</label>
                                                        <input type="text">
                                    
                                                    </div>
                    
                                                    <div class="birth">
                                                        <div class="user-data-birth">
                                                            <label for="">Birthplace</label>
                                                            <input  type="text">
                                                        </div>
                                                        <span class="space"></span>
                                                        <div class="user-data-birth">
                                                            <label for="">Birthdate</label>
                                                            <input  type="date">
                                                        </div>
                                                    </div>
                                    
                                                    <div class="user-data">
                                                        <label for="">Uploaded CV</label>
                                                        <input  type="text">
                                                    </div>
                                    
                                                    <div class="user-data">
                                                        <label for="">flazcard</label>
                                                        <input type="text">
                                    
                                                    </div>
                                                 <div class="title-box title-box2">
                                                     <p>Group Information</p>
                                                </div>
                                                    <div class="user-data">
                                                        <label for="">Group Name</label>
                                                        <input type="text">
                                                
                                                     </div>
                                    
                                                    <div class="user-data">
                                                        <label for="">Password</label>
                                                        <input type="text">
                                                
                                                    </div>
                                    
                                                     <div class="user-data">
                                                         <label for="">Confirm Password</label>
                                                        <input type="text">
                                                    </div>
                    
                                                    <div class="slide-btn">
                                                        <label class="switch">
                                                            <input type="checkbox" checked>
                                                            <span class="slider"></span>
                                                        </label>
                                                        <span class="binusian">BINUSIAN</span>
                                                    </div>
                    
                                                    <div class="btn">
                                                        <button class="submit" id="button">Submit</button>
                                                         </div>
                        
                                    </div>
                                 </div>
                </div>
                </section>
</div>

<!-- link javascrpt  -->
<script src="../js/tes.js"></script>



</body>
</html>